services:
  - type: web
    name: mrktcmd-render-server
    runtime: node
    plan: free
    buildCommand: npm install && npm run server:build
    startCommand: npm run server:start
    envVars:
      - key: PORT
        value: 10000
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_SERVICE_ROLE_KEY
        sync: false
      - key: NODE_ENV
        value: production
